.tabs {
  width: 100%;
  display: flex;
  justify-content: space-around;
  position: relative;
  list-style-type: none;
  padding: 14px 32px;
}

.tabs .activeTab {
  color:red;
  font-weight: bold;
}

a {
  text-decoration: none;
}


.activeTab::after {
  content: '';
  display: block;
  width: 100%;
  border-bottom: 4px solid red;
  background: red;
  border-radius: 8px;
  margin-top: 8px;
}

